 .container {
    display: flex;
}
.logo {
    margin-right: 60%
}
.menu-container {
    width: 20%;
    margin: 30px 10px
}
.color {
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.coloracercade{
    text-decoration: none;
    font-weight: bold;
    color:rgba(50, 190, 245, 0.89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fondopresentacion {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/PersonaTrabajandoconcarga.jpg);
    background-size: cover;
    background-position: center;
}
.textofrente {
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.QUIENES {
    background-color: rgb(243, 239, 239);
    display: flex;
}
.textoinformativo {
    text-align: center;
    width: 30%;
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.QUIENES img {
    width: 300px;
    height: 310px;
    margin-top: 100px
}

nav ul {
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav {
    padding: 20px 60px;
    border-bottom: 1px solid #eeeeee;
}

main > section:first-child {
    text-align: center;
    padding: 70px 20px 50px;
}

.intro-servicios {
    background-color: #f4f6f8;
    text-align: center;
    margin: 0 auto;
    padding: 40px 20px;         
    
}
.servicio {
    border-bottom: 1px solid #dddddd;
    padding: 35px 20px;
    margin-bottom: 20px;
}
.servicio header {
    display: flex;
    align-items: center;
    gap: 25px;
}
.servicio span {
    color: red;
    font-size: 48px;
    font-weight: bold;
}
.servicio p {
    font-size: 16px;
    line-height: 1.7;
    color: #555;
    margin: 0 0 0 75px;
}

.textoinformativo {
    text-align: center;
    width: 30%;
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Gill Sans';
}
.QUIENES img {
    width: 300px;
    height: 310px;
    margin-top: 100px
}


body {
    margin: 0;
    width:100% ;
    font-family: Arial, sans-serif;
}
.header {
    background-color: #1f3d5a;
    color:white;
    padding: 5px 15px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h1 {
    margin: 0;
}

.barnav {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.barnav a {
    color: white;
    text-decoration: none;
}

.barnav a:hover {
    text-decoration: underline;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 500px;

    background-image: url("imagenbanner.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
   display: flex;
   align-items: center;
}
.banner-content {
    position: relative;
    width: 40%;
    max-width: 600px;
    margin-left: 7%;
    padding: 40px 10px 70px;
    
}
.banner-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    color:#1F3D5A
}
.banner-content h1 {
    font-size: 40px;
    line-height: 1.1;
    margin: 0 0 20px 0;
    color:white;
    font-weight: 700;
}
.text-banner {
    font-size: 16px;
    line-height: 1.5;
    max-width: 500px ;
    margin-bottom: 25px;
    color: white;
}
.boton {
    display: flex;
    gap:15px;
}
.boton a {
    background-color: #1F3D5A;
    color:white;
    padding: 14px 22px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
.boton a:hover {
    background-color: #163047;
}
.article {
    background-color: white;
    min-height: 400px;
    padding: 50px;
}
.title_article {
    color: #1f3d5a;
}
.text-article {
    color: black;
     font-size: 16px;
    line-height: 1.5;
    max-width: 400px ;
    margin-bottom: 25px;

}
.text-article a {
    background-color: #1F3D5A;
    color:white;
    padding: 14px 22px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;

}
.valores {
    background-color: black ;
    color: white;
    min-height: 400px;
    padding: 50px;

}
    
.tabla-valores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.tabla-valores table {
 background-color: white;
    color:black;
    width: 30%;
    border-collapse: collapse;
}
.tabla-valores td {
    padding: 25px;
    text-align: center;
}
.servicio-destacado{
    background-color: white;
    min-height: 400px;
    color: #1F3D5A;
    padding: 50px;
}
.servicio-destacado a{
    background-color: #1F3D5A;
    color:white;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;
}

.cobertura {
    background-color: black ;
    min-height: 400px;
    color: white;
    padding: 50px;
    
}
footer {
    background-color: #1f3d5a;
    color: white;
    padding: 30px;
    text-align: center;
}
footer h3 {
    margin: 0 0 10px;
}
footer p {
    margin: 8px ;
}
footer a:last-child {
  margin-top:25px;
  border: 1px solid white;
  padding: 10px ;
}
.container {
    display: flex;
}
.logo {
    margin-right: 60%
}
.menu-container {
    width: 20%;
    margin: 30px 10px
}
.color {
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-family: 'Gill Sans';
}
.coloracercade{
    text-decoration: none;
    font-weight: bold;
    color:rgba(50, 190, 245, 0.89);
    font-family: 'Gill Sans';
}
.fondopresentacion {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/PersonaTrabajandoconcarga.jpg);
    background-size: cover;
    background-position: center;
}
.textofrente {
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans';
}
.QUIENES {
    background-color: rgb(243, 239, 239);
    display: flex;
}
.textoinformativo {
    text-align: center;
    width: 30%;
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Gill Sans';
}
.QUIENES img {
    width: 300px;
    height: 310px;
    margin-top: 100px;

}