table {   border:1px solid black;
    border-collapse: separate;
    padding: 10px;
}
tr:nth-child(even){
    background-color: rgb(22, 103, 207);

}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: #1f3d5a;
    color:white;
    padding: 15px;
}



footer {
    background-color: #1f3d5a;
    color: white;
    padding: 15px;
}